@font-face {
  font-family: "Oswald";
  src: url(../../assets/fonts/oswald/Oswald-Bold.ttf) format("trueType");
  font-weight: 700;
}
@font-face {
  font-family: Oswald;
  src: url(../../assets/fonts/oswald/Oswald-Regular.ttf) format("trueType");
  font-weight: 400;
}