@font-face {
  font-family: Noto;
  src: url(../../assets/fonts/NotoSerif-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Noto;
  src: url(../../assets/fonts/NotoSerif-Regular.ttf);
  font-weight: 400;
}