// Media screen breakpoints
$mobile-breakpoint: 767px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

$font-stack: "Noto";

// Colour variables
$colour-primary-main-brand: #4da5bf;
$colour-primary-light-accent: #8a7e76;
$colour-primary-light-shades: #f8f2ed;
$colour-primary-dark-accent: #1999ca;
$colour-primary-dark-shades: #222536;
$color-primary-important: #f44336;