@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.header{
    display: flex;
    background-color: $colour-primary-dark-shades;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
    &__logo{
        height: 4rem;
        width: 4rem;
    }
    &__list{
        display: flex;
        list-style: none;
        height: 100%;
        margin: 0;
        text-align: center;
        align-content: center;
        align-items: center;
    }
    &__list-item{
        height: 100%;
        width: 100%;
        margin-right: 1rem;
    }
    &__link{
        text-decoration: none;
        color: $colour-primary-light-shades;
        height: 100%;
        width: 100%;
        padding: 0 2rem;
        font-size: 1rem;
        font-weight: 700;
        &:hover{
            background-color: $colour-primary-light-shades;
            color: $colour-primary-dark-shades;
        }
        &--important{
            color: $color-primary-important;
        }
    }
    &__logout{
        background-color: $colour-primary-main-brand;
        color: $colour-primary-light-shades;
        padding: 0.1rem;
        border-radius: 1rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: 1rem;
        font-weight: 700;
        @include tablet{
            padding: 0.25rem;
            font-size: 1rem;
        }
        &:hover{
            background-color: $colour-primary-light-shades;
            color: $colour-primary-dark-shades;
        }
    }
    
}