@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.header{
    display: flex;
    background-color: $colour-primary-dark-shades;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
    &__logo{
        height: 4rem;
        width: 4rem;
    }
    &__list{
        display: flex;
        list-style: none;
        height: 100%;
        margin: 0;
        text-align: center;
        align-items: stretch;
    }
    &__list-item{
        height: 100%;
        width: 100%;
        border: 1px solid black;
    }
    &__link{
        text-decoration: none;
        color: $colour-primary-light-shades;
        height: 100%;
        width: 100%;
        padding: 0 2rem;
        &:hover{
            background-color: $colour-primary-light-shades;
            color: $colour-primary-dark-shades;
        }
        &--important{
            color: $color-primary-important;
        }
    }
    
}