@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-list{
    margin: 1rem;
    width: 100%;
    height: 60vh;
    overflow-y:auto;
    display: flex;
    flex-direction: column-reverse;
    &__card{
        color: $colour-primary-dark-shades;
        background-color: $color-primary-message;
        margin: 0.5rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        padding: 0.5rem;
        &--selected{
            background-color: $colour-primary-main-brand;
            width: 70%;
            margin-left: auto;
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 1rem;
        align-items: center;
        @include tablet{
            height: 2rem;
        }
    }
    &__like{
        margin: 0;
        height: 100%;
    }
    &__likes{
        margin: 0;
        height: 0.8rem;
    }
    &__comment{
        align-self: top;
        margin: 0;
        font-size: 0.8rem;
        font-weight: 700;
        @include tablet {
            font-size: 1rem;
        }
        @include desktop{
            font-size: 1.2rem;
        }
    }
    &__author{
        margin: 0;
        font-size: 0.6rem;
        color: $colour-primary-dark-shades;
        @include tablet {
            font-size: 0.9rem;
        }
        @include desktop{
            font-size: 1rem;
        }
    }
}